<%= render 'layouts/admins_header' %><br>

<h1><%= @project.title %> - <%= @project.votes.length %> Votes</h1>
<%= @project.description %><br><br>
<% @project.comments.each do |comment| %>
<%= comment.content %><br>
<%= comment.user.name %>
<% end %>
