<%= render 'layouts/admins_header' %><br>

<%= link_to "Create a Project", new_project_path %> <br><br>
<div class="project-vote-block">
<%= button_to "Thumbs UP", project_vote_path + '.json', "data-type" => :json, method: :post, class: "vote-project", remote: true %>
</div>

<h1><%= @project.title %> - <span class="vote-visual"><%= @project.votes.length %> </span> Votes</h1>
<%= @project.description %><br><br>

<div class="new-comment-block">
	<%= render 'layouts/comment_form' %>
</div><br><br>

<div id="comment-placement"></div>
  <%= render partial: "layouts/comment", locals:{project: @project} %>
</div>
