<%= render "layouts/admins_header" %>

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><%= @user.name %></div>
      <div class="intro-heading">Profile</div>
      <a href="#details" class="page-scroll btn btn-xl">See Details</a>
    </div>
  </div>
</header>

<section id="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Contact Info: <%= @user.email %></h3>
        <h2 class="section-heading">Projects</h2>
      </div>
    </div>
    <div class="row text-center">
      <% if @user.projects %>
        <% @user.projects.each do |project| %>
      <div class="col-md-4">
        <h4 class="service-heading"><%= link_to project.title, admins_project_path(project) %>
        <% if session[:user_id] == @user.id %>
        - <%= link_to "Edit", edit_project_path(project) %>
        - <%= link_to "Destroy", project_path(project), method: :delete, :remote => true, :class => "project_delete" %>
        <% end %>
        </h4>
        <p class="text-muted"><%= project.description %></p>
      </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Commitments</h2>
      </div>
    </div>
    <div class="row text-center">
      <% @user.commitments.each do |commitment| %>
      <% project = Project.find(commitment.project_id) %>
      <div class="col-md-4">
        <div id="commitment">
          <h4 class="service-heading"><%= link_to project.title, admins_project_path(project) %>
          <% if session[:user_id] == @user.id %>
          - <%= link_to "Uncommit", uncommit_path(project), method: :post, :remote => true, :class => "project_uncommit"  %>
          <% end %>
          </h4>
          <p class="text-muted"><%= project.description %></p>
        </div>
      </div>
      <% end %>
    </div>


  </div>
</section>
