<%= form_for @project, html: { role: "form" } do |f| %>
  <% if @project.errors.any? %>
  <div id="errors_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %>
      prohibited the project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Enter the project's title" %>
  </div>

  <div class="form-group">
    <%= f.text_field :category, class: "form-control", placeholder: "Enter the project's category" %>
  </div>

  <div class="form-group">
    <%= f.text_field :location, class: "form-control", placeholder: "Enter the project's location" %>
  </div>

  <div class="form-group">
    <%= f.text_field :time_estimation, class: "form-control", placeholder: "Enter the project's time estimation in days" %>
  </div>

  <div class="form-group checkbox">
    <%= f.label(:remote, "Work Remotely?") %>
    <%= f.check_box :remote, class: "form-control" %>
  </div><br>

   <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Enter the project's description" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
